In [26]:
import pandas as pd
import numpy as np

from datetime import datetime

In [27]:
prices = pd.read_csv("2019_Price.csv")

prices.head()

         Date         Open        Close
0  2019-01-02  1016.570007  1045.849976
1  2019-01-03  1041.000000  1016.059998
2  2019-01-04  1032.589966  1070.709961
3  2019-01-07  1071.500000  1068.390015
4  2019-01-08  1076.109985  1076.280029

In [28]:
news = pd.read_csv("2019_NYT.csv")

news.head()

         Date                                           Headline
0  2019-01-02                                Your Hopes for 2019
1  2019-01-03  ‘The Venerable W.’ Review: A Buddhist Monk Pre...
2  2019-01-03  Yellow Vest Leader Is Arrested in France Amid ...
3  2019-01-02  Learning With: ‘NASA’s New Horizons Spacecraft...
4  2019-01-03      White Cube? These 3 Art Shows Buck Convention

In [29]:
news_w_price = []
head_w_price = []
p = 0
biggest = 0
h1 = []
for i in range(len(prices['Date'])):
    h = []
    for j in range(len(news['Date'])):
        if prices['Date'][i] == news['Date'][j]:
          
            h.append((str(news['Headline'][j])).lower())
#             o = (prices['Open'][i]).replace(',', '')
            o =(prices['Open'][i])
#             c = (prices['Close'][i]).replace(',','')
            c = (prices['Close'][i])
            p = float(o) - float(c)
            if p >= 0:
                p = 1
            else:
                p = 0
        if len(h) > biggest:
            biggest = len(h)
            #head_w_price.append(((prices['Date'][i]), p, (news['Headline'][j]).lower()))
    news_w_price.append((prices['Date'][i], p ))
    if (len(h) > 0):
        h1.append(h)

In [32]:


print(len(news_w_price))
print(news_w_price[250])

251
('2019-12-30', 1)

In [33]:
col = []
i = 1
for i in range(biggest + 1):
    if i != 0:
        col.append("top" + str(i))
#print(col)
frame = pd.DataFrame()
df1 = pd.DataFrame(h1)
df1.columns = (col)
#print(df1)

In [34]:

df = pd.DataFrame(news_w_price, columns = ["Date", "Label"])

In [35]:
df3 =df.join(df1)

In [36]:
df3.to_csv('big_input.csv', index = False)