In [ ]:
# This is for the closing prices and dates

In [8]:
import pandas as pd
import requests
from datetime import datetime
from datetime import datetime
prices = pd.read_csv("GOOG_01_2019.csv")

In [9]:

prices.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-01-02,1016.570007,1052.319946,1015.710022,1045.849976,1045.849976,1532600
1,2019-01-03,1041.000000,1056.979980,1014.070007,1016.059998,1016.059998,1841100
2,2019-01-04,1032.589966,1070.839966,1027.417969,1070.709961,1070.709961,2093900
3,2019-01-07,1071.500000,1074.000000,1054.760010,1068.390015,1068.390015,1981900
4,2019-01-08,1076.109985,1084.560059,1060.530029,1076.280029,1076.280029,1764900

In [10]:

price_dates = prices['Date']
objDates = []

i = 0
for date in price_dates:
    d = datetime.strptime(date, '%Y-%m-%d').date()
    objDates.append((d, prices['Open'][i], prices['Close'][i], ))
   
    i = i + 1

In [11]:
frame = pd.DataFrame()
df = pd.DataFrame(objDates, columns = ["Date", "Open", "Close"])

In [12]:
print(df)

          Date         Open        Close
0   2019-01-02  1016.570007  1045.849976
1   2019-01-03  1041.000000  1016.059998
2   2019-01-04  1032.589966  1070.709961
3   2019-01-07  1071.500000  1068.390015
4   2019-01-08  1076.109985  1076.280029
5   2019-01-09  1081.650024  1074.660034
6   2019-01-10  1067.660034  1070.329956
7   2019-01-11  1063.180054  1057.189941
8   2019-01-14  1046.920044  1044.689941
9   2019-01-15  1050.170044  1077.150024
10  2019-01-16  1080.000000  1080.969971
11  2019-01-17  1079.469971  1089.900024
12  2019-01-18  1100.000000  1098.260010
13  2019-01-22  1088.000000  1070.520020
14  2019-01-23  1077.349976  1075.569946
15  2019-01-24  1076.479980  1073.900024
16  2019-01-25  1085.000000  1090.989990
17  2019-01-28  1080.109985  1070.079956
18  2019-01-29  1072.680054  1060.619995
19  2019-01-30  1068.430054  1089.060059

In [13]:
df.to_csv('2019_01_GOOG.csv', index = False)