In [ ]:
#This takes the prices csv and headlines csv and combines them based on date. this will then
#create a csv with the date, price, last 10 days on trends, and headlines

In [64]:
import pandas as pd
import numpy as np
from datetime import datetime

In [65]:
#put in the csv of prices and the csv of the news headines
# this will then create a csv with the date, price, last 10 days on trends, and headlines 
prices = pd.read_csv(r'C:\Users\dcard\Cap-Repo\DeepStockNLP\Data\J-F-csv\J-F-prices.csv')
news = pd.read_csv(r'C:\Users\dcard\Cap-Repo\DeepStockNLP\Data\J-F-csv\J-F_NYT_Filtered.csv')

In [66]:
#compares the dates in the two csv's and collects all the headlines for that day. 
#Also finds the difference in open and close prices, and catagorizes if went up or down
def compare_dates_dfs(prices, news):
    news_w_price = []
    head_w_price = []
    p = 0
    h1 = []
    for i in range(len(prices['Date'])):
        h = []
        for j in range(len(news['Date'])):
            if prices['Date'][i] == news['Date'][j]:
                h.append( (str(news['Headline'][j])).lower())
            o =(prices['Open'][i])
            c = (prices['Close'][i])
            p = float(c) - float(o)
            if p >= 0:
                p = 1
            else:
                p = 0
        news_w_price.append((prices['Date'][i], p))
        h1.append(((h)))
    return news_w_price, h1

In [67]:
#creates a df for the last ten days of trends
def trend_df():
    trend_10 = []
    for i in range(len(prices['Date'])):
        trend = []
        j= 0
        for j in range(len(prices.columns)-3):
            trend.append(prices[str(j)][i])
        trend_10.append(trend)
    # dataframe for the past 10 days of specific date
    dfT = pd.DataFrame(trend_10)
    dfT.columns = ( "1", "2", "3", "4", "5", "6", "7", "8", "9", "10")
    return dfT

In [68]:
# creates an array for the column names, based off of which date has the most headlines
def make_headline_col(news_head):
    biggest = 0
    for h in news_head:
        if len(h) > biggest:
            biggest = len(h)
    col = []
    i = 1
    for i in range(biggest + 1):
        if i != 0:
            col.append("top" + str(i))
    return col

In [69]:
#combines the data frames into the final data frame and returns it
def combine_df(prices, news):
    dfT = trend_df()
    news_w_price, h1 = compare_dates_dfs(prices, news)
    col = make_headline_col(h1)
    frame = pd.DataFrame()
    df1 = pd.DataFrame(h1)
    df1.columns = (col)
    #makes the price dataframe with the label 0 if price decreased and 1 if increased
    df = pd.DataFrame(news_w_price, columns = ["Date", "Label"])
    df5 = df.join(dfT)
    #joins the two dataframes
    df3 =df1.join(df5)
    df4 = df5.join(df1)
    return df4

In [70]:
#df4 is the combined final data frame
df4 =combine_df(prices, news)

          Date  Label          1          2          3          4          5  \
0   2019-01-02      1        NaN        NaN        NaN        NaN        NaN
1   2019-01-03      0  29.279969        NaN        NaN        NaN        NaN
2   2019-01-04      1 -24.940002  29.279969        NaN        NaN        NaN
3   2019-01-07      0  38.119995 -24.940002  29.279969        NaN        NaN
4   2019-01-08      1  -3.109985  38.119995 -24.940002  29.279969        NaN
5   2019-01-09      0   0.170044  -3.109985  38.119995 -24.940002  29.279969
6   2019-01-10      1  -6.989990   0.170044  -3.109985  38.119995 -24.940002
7   2019-01-11      0   2.669922  -6.989990   0.170044  -3.109985  38.119995
8   2019-01-14      0  -5.990113   2.669922  -6.989990   0.170044  -3.109985
9   2019-01-15      1  -2.230103  -5.990113   2.669922  -6.989990   0.170044
10  2019-01-16      1  26.979980  -2.230103  -5.990113   2.669922  -6.989990
11  2019-01-17      1   0.969971  26.979980  -2.230103  -5.990113   2.669922
12  2019-01-18      0  10.430053   0.969971  26.979980  -2.230103  -5.990113
13  2019-01-22      0        NaN  -1.739990  10.430053   0.969971  26.979980
14  2019-01-23      0 -17.479980        NaN  -1.739990  10.430053   0.969971
15  2019-01-24      0  -1.780030 -17.479980        NaN  -1.739990  10.430053
16  2019-01-25      1  -2.579956  -1.780030 -17.479980        NaN  -1.739990
17  2019-01-28      0   5.989990  -2.579956  -1.780030 -17.479980        NaN
18  2019-01-29      0 -10.030029   5.989990  -2.579956  -1.780030 -17.479980
19  2019-01-30      1 -12.060059 -10.030029   5.989990  -2.579956  -1.780030
20  2019-01-31      1  20.630005 -12.060059 -10.030029   5.989990  -2.579956
21  2019-02-01      0  13.369995  20.630005 -12.060059 -10.030029   5.989990
22  2019-02-04      1  -1.650024  13.369995  20.630005 -12.060059 -10.030029
23  2019-02-05      1  20.140015  -1.650024  13.369995  20.630005 -12.060059
24  2019-02-06      0  21.150024  20.140015  -1.650024  13.369995  20.630005
25  2019-02-07      0 -24.339966  21.150024  20.140015  -1.650024  13.369995
26  2019-02-08      1  -5.450073 -24.339966  21.150024  20.140015  -1.650024
27  2019-02-11      0   8.060059  -5.450073 -24.339966  21.150024  20.140015
28  2019-02-12      1  -1.939941   8.060059  -5.450073 -24.339966  21.150024
29  2019-02-13      0  14.569946  -1.939941   8.060059  -5.450073 -24.339966
30  2019-02-14      1  -4.829956  14.569946  -1.939941   8.060059  -5.450073
31  2019-02-15      0   3.619995  -4.829956  14.569946  -1.939941   8.060059
32  2019-02-19      1        NaN -16.429932   3.619995  -4.829956  14.569946
33  2019-02-20      0   8.560059        NaN -16.429932   3.619995  -4.829956
34  2019-02-21      0  -6.189941   8.560059        NaN -16.429932   3.619995
35  2019-02-22      1 -13.869995  -6.189941   8.560059        NaN -16.429932
36  2019-02-25      0   9.469971 -13.869995  -6.189941   8.560059        NaN
37  2019-02-26      1  -6.599976   9.469971 -13.869995  -6.189941   8.560059
38  2019-02-27      1   9.380005  -6.599976   9.469971 -13.869995  -6.189941

            6          7          8          9         10  \
0         NaN        NaN        NaN        NaN        NaN
1         NaN        NaN        NaN        NaN        NaN
2         NaN        NaN        NaN        NaN        NaN
3         NaN        NaN        NaN        NaN        NaN
4         NaN        NaN        NaN        NaN        NaN
5         NaN        NaN        NaN        NaN        NaN
6   29.279969        NaN        NaN        NaN        NaN
7  -24.940002  29.279969        NaN        NaN        NaN
8   38.119995 -24.940002  29.279969        NaN        NaN
9   -3.109985  38.119995 -24.940002  29.279969        NaN
10   0.170044  -3.109985  38.119995 -24.940002  29.279969
11  -6.989990   0.170044  -3.109985  38.119995 -24.940002
12   2.669922  -6.989990   0.170044  -3.109985  38.119995
13  -2.230103  -5.990113   2.669922  -6.989990   0.170044
14  26.979980  -2.230103  -5.990113   2.669922  -6.989990
15   0.969971  26.979980  -2.230103  -5.990113   2.669922
16  10.430053   0.969971  26.979980  -2.230103  -5.990113
17  -1.739990  10.430053   0.969971  26.979980  -2.230103
18        NaN  -1.739990  10.430053   0.969971  26.979980
19 -17.479980        NaN  -1.739990  10.430053   0.969971
20  -1.780030 -17.479980        NaN  -1.739990  10.430053
21  -2.579956  -1.780030 -17.479980        NaN  -1.739990
22   5.989990  -2.579956  -1.780030 -17.479980        NaN
23 -10.030029   5.989990  -2.579956  -1.780030 -17.479980
24 -12.060059 -10.030029   5.989990  -2.579956  -1.780030
25  20.630005 -12.060059 -10.030029   5.989990  -2.579956
26  13.369995  20.630005 -12.060059 -10.030029   5.989990
27  -1.650024  13.369995  20.630005 -12.060059 -10.030029
28  20.140015  -1.650024  13.369995  20.630005 -12.060059
29  21.150024  20.140015  -1.650024  13.369995  20.630005
30 -24.339966  21.150024  20.140015  -1.650024  13.369995
31  -5.450073 -24.339966  21.150024  20.140015  -1.650024
32  -1.939941   8.060059  -5.450073 -24.339966  21.150024
33  14.569946  -1.939941   8.060059  -5.450073 -24.339966
34  -4.829956  14.569946  -1.939941   8.060059  -5.450073
35   3.619995  -4.829956  14.569946  -1.939941   8.060059
36 -16.429932   3.619995  -4.829956  14.569946  -1.939941
37        NaN -16.429932   3.619995  -4.829956  14.569946
38   8.560059        NaN -16.429932   3.619995  -4.829956

                                                 top1
0                                                None
1                                                None
2   tracking the demise of my marriage on google maps
3                                                None
4                                                None
5                                                None
6                                                None
7   board sued over googleâ€™s exit package for accu...
8                                                None
9                                                None
10  o.k., google: how much money have i made for y...
11                                               None
12  the week in tech: how google and facebook spaw...
13                                               None
14                                               None
15                                               None
16                                               None
17                                               None
18                                               None
19                                               None
20                                               None
21                                               None
22                                               None
23                                               None
24  google and waze must stop sharing drunken-driv...
25                                               None
26                                               None
27                                               None
28                                               None
29  apple and google urged to dump saudi app that ...
30                                               None
31                                               None
32                                               None
33                                               None
34  google ends forced arbitration for all employe...
35                                               None
36                                               None
37                                               None
38                                               None

In [71]:
# converts data frame to a csv and downloads it
df4.to_csv('J-F-N-input.csv', index = False)