In [15]:
import pandas as pd
import numpy as np

from datetime import datetime

In [16]:
prices = pd.read_csv(r'2018-2020-prices.csv')


prices.head()

,Date,Open,Close,0,1,2,3,4,5,6,7,8,9
0,2018-01-03,1064.310059,1082.479980,[],[],[],[],[],[],[],[],[],[]
1,2018-01-04,1088.000000,1086.400024,[18.16992100000016],[],[],[],[],[],[],[],[],[]
2,2018-01-05,1094.000000,1102.229980,[-1.5999759999999696],[18.16992100000016],[],[],[],[],[],[],[],[]
3,2018-01-08,1102.229980,1106.939941,[8.229980000000069],[-1.5999759999999696],[18.16992100000016],[],[],[],[],[],[],[]
4,2018-01-09,1109.400024,1106.260010,[4.709961000000021],[8.229980000000069],[-1.5999759999999696],[18.16992100000016],[],[],[],[],[],[]

In [17]:
#news = pd.read_csv('2019_01_NYT_Google.csv')
news = pd.read_csv('2018-2020_NYT_Filtered.csv')

news.head()

         Date                                           Headline
0  2018-01-05           Sharing Online Albums With Google Photos
1  2018-01-06  Google in Toronto’s Streets, and a Focus on Fo...
2  2018-01-08  Google Memo Author Sues, Claiming Bias Against...
3  2018-01-12                 Changing Country Codes With Google
4  2018-01-17  Google Sells A.I. for Building A.I. (Novices W...

In [18]:
#compares the dates in the two csv's and collects all the headlines for that day. 
#Also finds the difference in open and close prices, and catagorizes if went up or down
news_w_price = []
head_w_price = []
p = 0
biggest = 0
h1 = []
for i in range(len(prices['Date'])):
    h = []
    for j in range(len(news['Date'])):
        if prices['Date'][i] == news['Date'][j]:
              
            h.append( (str(news['Headline'][j])).lower())
            
#             o = (prices['Open'][i]).replace(',', '')
        o =(prices['Open'][i])
#             c = (prices['Close'][i]).replace(',','')
        c = (prices['Close'][i])
        p = float(o) - float(c)
        if p >= 0:
            p = 1
        else:
            p = 0
        if len(h) > biggest:
            biggest = len(h)
    news_w_price.append((prices['Date'][i], p))
    h1.append(((h)))
#     else:
#         h1.append(('NaN')))

In [19]:
def trend_df():
  
    
    trend_10 = []
    for i in range(len(prices['Date'])):
        trend = []
        j= 0
        for j in range(len(prices.columns)-3):
            trend.append(prices[str(j)][i])
#             print(prices[str(j)][i])
        trend_10.append(trend)
    # dataframe for the past 10 days of specific date
    dfT = pd.DataFrame(trend_10)
    dfT.columns = ( "1", "2", "3", "4", "5", "6", "7", "8", "9", "10")
    print(dfT)
    return dfT
dfT = trend_df()

                         1                      2                      3  \
0                       []                     []                     []
1      [18.16992100000016]                     []                     []
2    [-1.5999759999999696]    [18.16992100000016]                     []
3      [8.229980000000069]  [-1.5999759999999696]    [18.16992100000016]
4      [4.709961000000021]    [8.229980000000069]  [-1.5999759999999696]
..                     ...                    ...                    ...
727   [25.540039000000206]  [-18.449951000000056]   [-6.789917000000287]
728   [-23.02001999999993]   [25.540039000000206]  [-18.449951000000056]
729  [-14.739991000000146]   [-23.02001999999993]   [25.540039000000206]
730    [38.38000499999998]  [-14.739991000000146]   [-23.02001999999993]
731                     []  [-1.4599610000000212]    [38.38000499999998]

                         4                      5                     6  \
0                       []                     []                    []
1                       []                     []                    []
2                       []                     []                    []
3                       []                     []                    []
4      [18.16992100000016]                     []                    []
..                     ...                    ...                   ...
727    [9.680053999999927]    [19.39001499999995]   [2.209961000000021]
728   [-6.789917000000287]    [9.680053999999927]   [19.39001499999995]
729  [-18.449951000000056]   [-6.789917000000287]   [9.680053999999927]
730   [25.540039000000206]  [-18.449951000000056]  [-6.789917000000287]
731  [-14.739991000000146]   [-23.02001999999993]  [25.540039000000206]

                         7                     8                      9  \
0                       []                    []                     []
1                       []                    []                     []
2                       []                    []                     []
3                       []                    []                     []
4                       []                    []                     []
..                     ...                   ...                    ...
727    [2.709961000000021]   [9.300048999999944]  [-27.900023999999803]
728    [2.209961000000021]   [2.709961000000021]    [9.300048999999944]
729    [19.39001499999995]   [2.209961000000021]    [2.709961000000021]
730    [9.680053999999927]   [19.39001499999995]    [2.209961000000021]
731  [-18.449951000000056]  [-6.789917000000287]    [9.680053999999927]

                        10
0                       []
1                       []
2                       []
3                       []
4                       []
..                     ...
727   [7.8000489999999445]
728  [-27.900023999999803]
729    [9.300048999999944]
730    [2.709961000000021]
731    [19.39001499999995]

[732 rows x 10 columns]

In [20]:
#finds which row has the most columns and then creates an array of all the column names for the csv
# makes the headline dataframe, with headlines categorized by date
col = []
i = 1
for i in range(biggest + 1):
    if i != 0:
        col.append("top" + str(i))

frame = pd.DataFrame()
df1 = pd.DataFrame(h1)
df1.columns = (col)
print(df1)

                                                  top1  top2  top3  top4  \
0                                                 None  None  None  None
1                                                 None  None  None  None
2             sharing online albums with google photos  None  None  None
3    google memo author sues, claiming bias against...  None  None  None
4                                                 None  None  None  None
..                                                 ...   ...   ...   ...
727                                               None  None  None  None
728                                               None  None  None  None
729                                               None  None  None  None
730                                               None  None  None  None
731                                               None  None  None  None

     top5  top6  top7  top8
0    None  None  None  None
1    None  None  None  None
2    None  None  None  None
3    None  None  None  None
4    None  None  None  None
..    ...   ...   ...   ...
727  None  None  None  None
728  None  None  None  None
729  None  None  None  None
730  None  None  None  None
731  None  None  None  None

[732 rows x 8 columns]

In [21]:
#makes the price dataframe with the label 0 if price decreased and 1 if increased
df = pd.DataFrame(news_w_price, columns = ["Date", "Label"])

df5 = df.join(dfT)
print(df5)

           Date  Label                      1                      2  \
0    2018-01-03      0                     []                     []
1    2018-01-04      0    [18.16992100000016]                     []
2    2018-01-05      0  [-1.5999759999999696]    [18.16992100000016]
3    2018-01-08      0    [8.229980000000069]  [-1.5999759999999696]
4    2018-01-09      0    [4.709961000000021]    [8.229980000000069]
..          ...    ...                    ...                    ...
727  2020-11-20      1   [25.540039000000206]  [-18.449951000000056]
728  2020-11-23      1   [-23.02001999999993]   [25.540039000000206]
729  2020-11-24      1  [-14.739991000000146]   [-23.02001999999993]
730  2020-11-25      1    [38.38000499999998]  [-14.739991000000146]
731  2020-11-27      1                     []  [-1.4599610000000212]

                         3                      4                      5  \
0                       []                     []                     []
1                       []                     []                     []
2                       []                     []                     []
3      [18.16992100000016]                     []                     []
4    [-1.5999759999999696]    [18.16992100000016]                     []
..                     ...                    ...                    ...
727   [-6.789917000000287]    [9.680053999999927]    [19.39001499999995]
728  [-18.449951000000056]   [-6.789917000000287]    [9.680053999999927]
729   [25.540039000000206]  [-18.449951000000056]   [-6.789917000000287]
730   [-23.02001999999993]   [25.540039000000206]  [-18.449951000000056]
731    [38.38000499999998]  [-14.739991000000146]   [-23.02001999999993]

                        6                      7                     8  \
0                      []                     []                    []
1                      []                     []                    []
2                      []                     []                    []
3                      []                     []                    []
4                      []                     []                    []
..                    ...                    ...                   ...
727   [2.209961000000021]    [2.709961000000021]   [9.300048999999944]
728   [19.39001499999995]    [2.209961000000021]   [2.709961000000021]
729   [9.680053999999927]    [19.39001499999995]   [2.209961000000021]
730  [-6.789917000000287]    [9.680053999999927]   [19.39001499999995]
731  [25.540039000000206]  [-18.449951000000056]  [-6.789917000000287]

                         9                     10
0                       []                     []
1                       []                     []
2                       []                     []
3                       []                     []
4                       []                     []
..                     ...                    ...
727  [-27.900023999999803]   [7.8000489999999445]
728    [9.300048999999944]  [-27.900023999999803]
729    [2.709961000000021]    [9.300048999999944]
730    [2.209961000000021]    [2.709961000000021]
731    [9.680053999999927]    [19.39001499999995]

[732 rows x 12 columns]

In [22]:
print(df)

           Date  Label
0    2018-01-03      0
1    2018-01-04      0
2    2018-01-05      0
3    2018-01-08      0
4    2018-01-09      0
..          ...    ...
727  2020-11-20      1
728  2020-11-23      1
729  2020-11-24      1
730  2020-11-25      1
731  2020-11-27      1

[732 rows x 2 columns]

In [23]:
#joins the two dataframes
df3 =df1.join(df5)
df4 = df5.join(df1)

In [24]:
print(df3)

                                                  top1  top2  top3  top4  \
0                                                 None  None  None  None
1                                                 None  None  None  None
2             sharing online albums with google photos  None  None  None
3    google memo author sues, claiming bias against...  None  None  None
4                                                 None  None  None  None
..                                                 ...   ...   ...   ...
727                                               None  None  None  None
728                                               None  None  None  None
729                                               None  None  None  None
730                                               None  None  None  None
731                                               None  None  None  None

     top5  top6  top7  top8        Date  Label                      1  \
0    None  None  None  None  2018-01-03      0                     []
1    None  None  None  None  2018-01-04      0    [18.16992100000016]
2    None  None  None  None  2018-01-05      0  [-1.5999759999999696]
3    None  None  None  None  2018-01-08      0    [8.229980000000069]
4    None  None  None  None  2018-01-09      0    [4.709961000000021]
..    ...   ...   ...   ...         ...    ...                    ...
727  None  None  None  None  2020-11-20      1   [25.540039000000206]
728  None  None  None  None  2020-11-23      1   [-23.02001999999993]
729  None  None  None  None  2020-11-24      1  [-14.739991000000146]
730  None  None  None  None  2020-11-25      1    [38.38000499999998]
731  None  None  None  None  2020-11-27      1                     []

                         2                      3                      4  \
0                       []                     []                     []
1                       []                     []                     []
2      [18.16992100000016]                     []                     []
3    [-1.5999759999999696]    [18.16992100000016]                     []
4      [8.229980000000069]  [-1.5999759999999696]    [18.16992100000016]
..                     ...                    ...                    ...
727  [-18.449951000000056]   [-6.789917000000287]    [9.680053999999927]
728   [25.540039000000206]  [-18.449951000000056]   [-6.789917000000287]
729   [-23.02001999999993]   [25.540039000000206]  [-18.449951000000056]
730  [-14.739991000000146]   [-23.02001999999993]   [25.540039000000206]
731  [-1.4599610000000212]    [38.38000499999998]  [-14.739991000000146]

                         5                     6                      7  \
0                       []                    []                     []
1                       []                    []                     []
2                       []                    []                     []
3                       []                    []                     []
4                       []                    []                     []
..                     ...                   ...                    ...
727    [19.39001499999995]   [2.209961000000021]    [2.709961000000021]
728    [9.680053999999927]   [19.39001499999995]    [2.209961000000021]
729   [-6.789917000000287]   [9.680053999999927]    [19.39001499999995]
730  [-18.449951000000056]  [-6.789917000000287]    [9.680053999999927]
731   [-23.02001999999993]  [25.540039000000206]  [-18.449951000000056]

                        8                      9                     10
0                      []                     []                     []
1                      []                     []                     []
2                      []                     []                     []
3                      []                     []                     []
4                      []                     []                     []
..                    ...                    ...                    ...
727   [9.300048999999944]  [-27.900023999999803]   [7.8000489999999445]
728   [2.709961000000021]    [9.300048999999944]  [-27.900023999999803]
729   [2.209961000000021]    [2.709961000000021]    [9.300048999999944]
730   [19.39001499999995]    [2.209961000000021]    [2.709961000000021]
731  [-6.789917000000287]    [9.680053999999927]    [19.39001499999995]

[732 rows x 20 columns]

In [25]:
print(df4)

           Date  Label                      1                      2  \
0    2018-01-03      0                     []                     []
1    2018-01-04      0    [18.16992100000016]                     []
2    2018-01-05      0  [-1.5999759999999696]    [18.16992100000016]
3    2018-01-08      0    [8.229980000000069]  [-1.5999759999999696]
4    2018-01-09      0    [4.709961000000021]    [8.229980000000069]
..          ...    ...                    ...                    ...
727  2020-11-20      1   [25.540039000000206]  [-18.449951000000056]
728  2020-11-23      1   [-23.02001999999993]   [25.540039000000206]
729  2020-11-24      1  [-14.739991000000146]   [-23.02001999999993]
730  2020-11-25      1    [38.38000499999998]  [-14.739991000000146]
731  2020-11-27      1                     []  [-1.4599610000000212]

                         3                      4                      5  \
0                       []                     []                     []
1                       []                     []                     []
2                       []                     []                     []
3      [18.16992100000016]                     []                     []
4    [-1.5999759999999696]    [18.16992100000016]                     []
..                     ...                    ...                    ...
727   [-6.789917000000287]    [9.680053999999927]    [19.39001499999995]
728  [-18.449951000000056]   [-6.789917000000287]    [9.680053999999927]
729   [25.540039000000206]  [-18.449951000000056]   [-6.789917000000287]
730   [-23.02001999999993]   [25.540039000000206]  [-18.449951000000056]
731    [38.38000499999998]  [-14.739991000000146]   [-23.02001999999993]

                        6                      7                     8  \
0                      []                     []                    []
1                      []                     []                    []
2                      []                     []                    []
3                      []                     []                    []
4                      []                     []                    []
..                    ...                    ...                   ...
727   [2.209961000000021]    [2.709961000000021]   [9.300048999999944]
728   [19.39001499999995]    [2.209961000000021]   [2.709961000000021]
729   [9.680053999999927]    [19.39001499999995]   [2.209961000000021]
730  [-6.789917000000287]    [9.680053999999927]   [19.39001499999995]
731  [25.540039000000206]  [-18.449951000000056]  [-6.789917000000287]

                         9                     10  \
0                       []                     []
1                       []                     []
2                       []                     []
3                       []                     []
4                       []                     []
..                     ...                    ...
727  [-27.900023999999803]   [7.8000489999999445]
728    [9.300048999999944]  [-27.900023999999803]
729    [2.709961000000021]    [9.300048999999944]
730    [2.209961000000021]    [2.709961000000021]
731    [9.680053999999927]    [19.39001499999995]

                                                  top1  top2  top3  top4  \
0                                                 None  None  None  None
1                                                 None  None  None  None
2             sharing online albums with google photos  None  None  None
3    google memo author sues, claiming bias against...  None  None  None
4                                                 None  None  None  None
..                                                 ...   ...   ...   ...
727                                               None  None  None  None
728                                               None  None  None  None
729                                               None  None  None  None
730                                               None  None  None  None
731                                               None  None  None  None

     top5  top6  top7  top8
0    None  None  None  None
1    None  None  None  None
2    None  None  None  None
3    None  None  None  None
4    None  None  None  None
..    ...   ...   ...   ...
727  None  None  None  None
728  None  None  None  None
729  None  None  None  None
730  None  None  None  None
731  None  None  None  None

[732 rows x 20 columns]

In [26]:
df4.to_csv('2018-2020_input.csv', index = False)